body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 16px;

    display: flex;
    align-items: center;
    gap: 20px;
}

header img {
height: 40px;
}

header h1 {
    margin: 0;
    font-size: 22px;
}

nav {
    margin-left: auto;
}

nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav a{
    color: inherit;
    text-decoration: none;
}

main {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
}

#check {
    display: none;
}

.open-menu, .close-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.close-menu {
    display: none;
}

@media (max-width: 610px) {
    nav {
        margin-left: 0;
    }

    .open-menu {
        display: block;
        margin-left: auto;
    }
    
    .menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 40%;
        height: 100vh;
        background-color: rgb(0, 0, 0);
        flex-direction: column;
        align-items: center;
        z-index: 100;
        transition: all 0.5s ease-in-out;
    }
    
    .menu ul {
        flex-direction: column;
        margin-top: 50px;
    }
    
    .menu li {
        margin-top: 40px;
    }
    
    #check:checked ~ .menu {
        right: 0;
    }
    
    #check:checked ~ .open-menu {
        display: none;
    }
    
    #check:checked ~ .close-menu {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 101;
    }
}